/* Css for frontpage */

.container-fluid {
	max-width:1400px;
}

/* About text */
p#about-text {
	margin-top:3em;
}

div#about h1 {
	margin-top:0;
}

img {
	max-width:100%;
}

/* Separator */
div.separator {
	text-align:center;
}

/* Category */
div.category:hover {
	background-color:#eaeaea;
	cursor:pointer;
}
h1#gallery-title {
	font-size: 4em;
}

p#gallery-desc {
	margin-top:0.5em;
}
img#gallery-cover {
	background-position:center;
	height:300px;
	width:100%; 
	background-repeat-x:no-repeat;
	display:block;
} 
div.category {
	padding: 1em 0;
	margin-top: 2.5em;
}


/* Album  */
div.album:hover {
	background-color:#eaeaea;
	cursor:pointer;
}
div.album a:hover {
	text-decoration:none;
}

div.album {
	padding: 1em 0;
	margin-top: 1em;
}

div.album a { 
	color:#444;
}
div.album a:hover{
	color:#222;
}

div.album-hidden {
	display:none;
}


p.cat-meta, p.album-meta, span.album-meta {
	font-style:italic;
	display:inline;
}

p.cat-date {
	display:inline;
}

p.album-date {
	margin-bottom:0;
}
p.album-date-small {
	margin-bottom:0.5em;
}

div.album-info {
	text-align:right;
}

div.album-arrow p {
	padding-top:70%;
	font-size:1.5em;
}




