/* Css for frontpage */


/* About text */
p#about-text {
	margin-top:3em;
}

/* Separator */
div.separator {
	text-align:center;
}

/* Category */
div.category:hover {
	background-color:#eaeaea;
	cursor:pointer;
}

div.category {
	padding: 1em 0;
	margin: 2.5em 0 1.5em 0;
}


/* Album  */
div.album:hover {
	background-color:#eaeaea;
	cursor:pointer;
}

div.album {
	padding: 1em 0;
	margin: 1em 0;
}

div.album a { 
	color:#444;
}
div.album a:hover{
	color:#222;
}


p.cat-meta, p.album-meta {
	font-style:italic;
	display:inline;
}

p.cat-date {
	display:inline;
}

p.album-date {
	margin-bottom:0;
}

div.album {
	display:none;
}

div.album-info {
	text-align:right;
}

div.album-arrow p {
	padding-top:75%;
	font-size:3em;
}




